html{
    font-size:62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after{
    padding:0;
    margin:0;
    box-sizing: inherit;
    position: relative;
}

body{
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('../../public/img/We-Are-Creative.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height:100vh;
    width:100%;
    


}

//------------ header ------------//
.navbar{
    background:rgb(1, 11, 68);
    padding:1.7rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffff;
    font-size:1.885rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:400;
    letter-spacing: .25rem;
    text-shadow: .125rem .125rem .25rem red;
    box-shadow: 0rem 0rem 0.2rem .0013rem rgba(153, 153, 153, 1) ;
}

//---- calc frame ---------------//
.calc{
    
    .calc__container{
        max-width:40rem;
        margin:0 auto;
        transform: translateY(13rem);
        padding:0 .3125rem;
        color:#ffff;
        background:transparent;

        
        

        #calc__display{
            text-align: right;
            height:17rem;
            padding:1.875rem;
            font-size: 1.5625rem;
            border:.125rem solid #999;
            border-bottom-width: .0625rem;
            
        }
        .calc__button__list{
            display: grid;
            border-bottom:.0625rem solid #999;
            border-left:.0625rem solid #999;
            grid-template-columns: repeat(4, 1fr);
            box-shadow: 0rem 0rem 0.2rem .0013rem rgba(153, 153, 153, 1) ;
            
            div{
                border-top:.0625rem solid #999;
                border-right:.0625rem solid #999;
            }
            .calc__btn{
                border:.0313rem solid #999;
                line-height:6.25rem;
                text-align: center;
                font-size: 1.5625rem;
                cursor: pointer;
                color:#ffff;

                &:hover{
                    // @extend #calc__equalTo;
                    background:rgb(22, 1, 56);
                    color:#ffff;
                    transition:all 0.5s ease-in-out;
                }
            }
            #calc__equalTo{
                background:rgb(22, 1, 56);
                color:#ffff;
                grid-column: 2/5;
                
            }
        }
    }
}

//----------- Footer ----------------//
.footer{
   
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:-1;
    text-transform: capitalize;
    font-size: .625rem;
    letter-spacing: .25rem;
    

    p{
        color:white;
    }
    span{
        color:red;
    }
}





